@import 'root.css';
@import 'header.css';
@import 'footer.css';

main {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav > ul > li:nth-child(1) > a {
    color: var(--accent-color);
}

h1 {
    width: 80%;
    font-size: var(--header-size);
    font-family: 'Helvetica Neue Medium';
}


strong {
    font-family: 'Helvetica Neue Medium';
}

section#bio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
    max-width: 80%;
    font-size: clamp(1.2rem, 1.5vw, 1.3rem);
    font-family: var(--body-font);
    line-height: 1.5;
}

#bio > img {
    width: 100%;
    object-fit: cover;
    flex: 1;
}


#bio-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
}

#location-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 0;
}

#location-container > svg {
    padding-right: 5px;
}

section#education {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    font-size: 1.2em;
    font-family: var(--body-font);
}

.education-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.school-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.school-name::before {
    display: inline-block;
    content: '⬤';
    color: #ff9c21;
    margin-right: 5px;
}

.education-container:first-child > .school-name::before {
    display: inline-block;
    content: '⬤';
    color: #00629b;
    margin-right: 5px;
}


details > summary {
    width: 95%;
    margin: 5px auto 1em auto;
    list-style-type: none;
}

details summary::before {
    content: '﹢';
    margin-right: 5px;
    
}

details[open] summary {
    border-bottom: 1pt solid black;
}

details[open] summary::before{
    content: '﹣';
    margin-right: 5px;
}

p#courses {
    width: 95%;
    margin: 0 auto 1em auto;
}
section#skills > ul {
    display: flex;
    gap: 0.8em;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding:0;
    margin: 0;
}

section#skills > ul > li {
    color: white;
    font-family: 'Helvetica Neue Roman';
    background-color: var(--raspberry);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
section#skills {
    width: 80%;
    font-size: 1.3em;
    font-family: 'Helvetica Neue Roman';
}


@media screen and (max-width: 600px) {
    html, body {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    main {
        padding: 1em;
    }
    h1 {
        width: 100%;
        text-align: center;
    }
    section#bio {
        max-width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
    #bio > img {
        width: 100%;
    }
    
    #bio-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }

    section#education {
        width: 100%;
    }

    .education-container {
        gap: 5px;
    }
    
    .education-container > .school-name {
        justify-content: flex-start;
        -flex-wrap: nowrap;
    }

    .education-container > .school-name::before {
        flex: 0;
    }

    .education-container > .school-name  > strong {
        flex: 1;
    }

    .education-container > .school-name  > span {
        flex: 2;
    }



    details {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    details > summary {
        width: 100%;
        margin:auto;
    }

    p#courses {
        width: 100%;
        margin-inline: auto;
    }

    section#skills {
        width: 100%;
    }

}