@import 'root.css';
#page-title {
    font-family: var(--header-font);
    text-decoration: var(--raspberry) underline;
}
#add-btn, input[type="submit"] {
    width: auto;
    height:auto;
    background-color: black;
    font-family: var(--header-font);
    font-size: 1em;
    color: white;
    border: none;
    padding: 10px;
    border-radius: var(--rounded-rect);
}
section#post-container {
    font-family: var(--body-font);
}
#blog-title:before {
    content: 'Title: ';
}
#blog-date:before {
    content: 'Date: '
}
#blog-summary:before {
    content: 'Summary: '
}
.container > button {
    background-color: transparent;
    border: none;
}

.container > button > svg > path:hover {
    stroke: var(--accent-color);
}

textarea {
    resize: none;
    display: inline;
}

fieldset * {
    font-family: var(--body-font);
    padding: 2px;
    vertical-align: middle;
}

dialog {
    border-color: var(--raspberry);
}