@import 'root.css';
@import 'header.css';
@import 'footer.css';

main {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav > ul > li:nth-child(2) > a {
    color: #8cb6f0;
}


h1 {
    width: 80%;
    font-size: var(--header-size);
    font-family: 'Helvetica Neue Medium';
}


section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.8em 2em;
    justify-content: flex-start;
    font-size: 1.2em;
    font-family: var(--body-font);
    line-height: 1.5;
}

section > p {
    margin: 0;
}

details {
    width: 100%;
}

details > summary {
    font-family: 'Helvetica Neue Medium';
}


details[open] {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jot-demo {
    display: flex;
    justify-content: center;
    min-width: 300px;
    max-width: 320px;
    max-height: 700px;
    margin: auto;
    padding-bottom: 1em;
    padding-top: 1em;
}

video {
    width: 100%;
    border-radius: 40px;
    border: 10px solid black;
    height: auto;
    object-fit: cover;
}

.tasks-list > span {
    color: var(--raspberry);
}



.tasks-list, .awards-list {
    padding: 0;
    margin: 0;
}

.tasks-list > li, .awards-list > li {
    margin-left: 1.5em;
}

.skill-list {
    display: flex;
    gap: 0.8em;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    font-size: 0.6em;
    padding: 0;
    font-family: 'Helvetica Neue';
}


.skill-list > li {
    color: white;
    font-family: 'Helvetica Neue Roman';
    background-color: var(--raspberry);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}


section a {
    text-decoration: underline;
    color: var(--accent-color);
}

section a:active {
    text-decoration: underline;
    color: var(--active-link);
}

.photo-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.photo-gallery > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s;
}

.photo-gallery :nth-child(1) {
    grid-area: 1 / 1 / 5 / 4; 
}

.photo-gallery :nth-child(2) {
    grid-area: 1 / 4 / 5 / 7;
}

.photo-gallery :nth-child(3) {
    min-height: 100%;
    grid-area: 1 / 7 / 9 / 9;
}

.photo-gallery :nth-child(4) {
    grid-area: 5 / 1 / 9 / 4;
}

.photo-gallery :nth-child(5) {
    grid-area: 5 / 4 / 9 / 7;
}

.photo-gallery > img:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

section:last-of-type {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

section:last-of-type > a {
    position: relative;
}


img#link-icon {
    position: absolute;
    background-color: #1e1e1e;
    left:0;
    opacity: 75%;
}


@media screen and (max-width: 600px) {
    .photo-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1em;
        align-items: center;
        justify-content: flex-start;
    }
    .photo-gallery > img{
        width: 100%;
    }
}