@import 'root.css';
@import 'header.css';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    font-family: var(--body-font);
    font-size: 1.2em;
}
h1 {
    box-sizing: border-box;
    font-size: var(--header-size);
    font-family: var(--header-font);
    border-bottom: solid var(--raspberry);
    margin-bottom: 48px;
    margin-top: 30px;
}

h3 {
    width: 80%;
    box-sizing: border-box;
    font-size: 2em;
    font-family: var(--header-font);
}

#nasa-sl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 80%;
}

#image-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

figure > img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 45px;
    margin-bottom: auto;
    width: 100%;
    font-family: var(--header-font);
}